{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
<h1 class="text-center pt-3 pb-5">Fiche Contact</h1>

<div class="row">
    
    <div class="card mb-3 container">

        <h4 class="card-header">{{ leContact.prenom }} {{ leContact.nom }}</h4>
        
        <div class="row">
            
            <div class="col-2 d-flex align-items-center">
                <img class="avatar mx-auto my-2 img-fluid" src=" {{ leContact.avatar }} ">
            </div>

            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ leContact.rue }}</li>
                    <li class="list-group-item">{{ leContact.cp }}</li>
                    <li class="list-group-item">{{ leContact.ville }}</li>
                    <li class="list-group-item">{{ leContact.mail }}</li>
                    <li class="list-group-item">
                        {% if leContact.sexe ==0 %}
                            <span class="badge badge-info text-dark">homme</span>
                        {% else %}
                            <span class="badge badge-primary text-dark">femme</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                    <a class="text-decoration-none" href="{{path('categorie', {'id': leContact.categorie.id})}}">{{ leContact.categorie.libelle }}</a>
                    </li>
                </ul>
            </div>
        </div>   
    </div>   
</div>
    <a href="{{path("contacts")}}" class="btn btn-success text-center">Revenir a la liste</a>

{% endblock %}
